
body {
  overflow-x: hidden;
  width: 100vw;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background: #FFFFFF;
  background-blend-mode: multiply;
  background: linear-gradient(233.95deg, #0D1E20 -73.12%, #313E2A 53.36%, #262D20 100.17%);
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 257px; 
}

.header-logo {
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  font-size: 1.5rem;
  color: #FC4308;
  transition: 0.3s;
}

.header-logo:hover {
  color: #ffffff;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  display: inline;
}

.header nav ul li a {
  font-family: "Montserrat", serif;
  font-weight: 200 ;
  color: #FC4308;
  text-decoration: none;
  transition: 0.3s;
}

.header nav ul li a:hover {
  color: #ffffff;
}

.btn {
  font-family: "Montserrat", serif;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 900;
  transition: 0.3s;
  border-radius: 3px;
  border: 1px solid #FC4308;
}

.btn:hover {
  background-color: #FC4308;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content{
  display: flex;
  height: 530px ;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.footer {
  bottom: 0;
  background-color: #0D1E20;
  display: flex;
  width: 100vw;
  height: 310px;
  padding: 50px;
  justify-content: center;
  gap: 150px;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}

.footer-column {
  flex: 1;
  max-width: 300px;
}

.footer-column h3 {
  color: #888;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: start;
}

.footer-column ul {
  align-content: center;
  text-align:start ;
  list-style: none;
  padding: 0;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.footer-column ul li a:hover {
  color: #fff;
  transition: 0.3s;
}

.contact-logo {
  color: #ff4500;
  font-size: 22px;
  font-weight: bold;
  text-align: start ;
}

.contact-info {
  color: #ccc;
  font-size: 14px;
  padding: 0;
  text-align: start;
}

.icons {
  text-align: start;
}

.icons a {
  margin-right: 10px;
  color: #ccc;
  text-decoration: none;
  font-size: 20px;
}

icons a:hover {
  color: #fff;
  transition: 0.3s;
}
.copyright {
  text-align: center;
  padding: 10px;
  background-color: #0D1E20;
  font-size: 12px;
  color: #777;
}

.copyright a {
  color: #777;
  text-decoration: none;
}